<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nishimwe Elysee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nishimwe Elysee Website Landing page </title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/backend.css">
    <link rel="stylesheet" href="../css/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/rem.css">
    <script src="../js/rem.js"></script>
    <script src="../js/script.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul id="topnav" class="topnavclass">
                <li><a href="../index.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="mblog.html">Blog</a></li>
                <li><a href="aboutme.html">About Me</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li class="adminid"><a href="Admin.html">Admin</a></li>
                <a href="javascript:void(0);" id="id-icon" class="icon"><button onclick="myFunction()" class="icon-btn"><i class="fa fa-bars"></i></button></i></a>
            </ul>
        </nav>
        <div class="nav-right">
            <a href="signin.html" id="signin-top"><button>Sign in</button></a>
            <div id="user-option" role="button" onclick="showoption()" hidden>
                <img src="https://as2.ftcdn.net/jpg/01/18/03/33/500_F_118033377_JKQA3UFE4joJ1k67dNoSmmoG4EsQf9Ho.jpg" width="40px" height="40px"  id="user-img">
                <ul>
                    <li><a id="top-username">Username</a></li>
                    <li><a href="#" role="button">Update Profile</a></li>
                    <li><a href="signin.html" id="btnlogout" role="button"">Sign out</a></li>
                </ul>
                
            </div>
        </div>
    </header>
    <h2>Admin </h2>


    <div class="tab" id="tabclass">
      <button class="tablinks" onclick="openTab(event, 'blog')">Blogs</button>
      <button class="tablinks" onclick="openTab(event, 'profile')">Profile</button>
      <button class="tablinks" onclick="openTab(event, 'contact')">Contacts</button>
      <button class="tablinks" onclick="openTab(event, 'portfolio')">Portfolio</button>
      <button class="tablinks" onclick="openTab(event, 'other')">Others</button>
    </div>


  
  <div id="blog" class="tabcontent">
    <p>Blogs</p>
    <div class="content">
        <div class="port-update">
            <div class="image">
                <img id="imageid" width="400px" height="200px">
                <input type="file" id="inpimg" onchange="onFileSelected(event)">
            </div>
            <div class="bid">
                <input id="blogid" type="text" placeholder="Type Blog ID">
            </div>
            <div class="title">
                <input id="titleid" type="text" placeholder="Type Blog Title">
            </div>
            <div class="desc">
                <input id="descid" type="text" placeholder="Type Blog Description">
            </div>
            <div class="date">
                <input id="dateid" type="date" onload="getDateT()"  placeholder="Type Blog Date">
            </div>
            <div class="intro">
                <textarea id="introid" type="text" placeholder="Type Blog Introduction"></textarea>
            </div>
            <div class="cont">
                <textarea id="contid" type="text" placeholder="Type Blog Content"></textarea>
            </div>
            <div>
                <button type="submit" id="submit">Save</button><button onclick="clearBlog()" type="reset">Reset</button>
                <button type="button" id="bselect">Search</button><button id="bupdate"  type="button">Update</button><button id="bdelete"  type="button">Delete</button>
            </div>
        </div>
        <div class="port-list">
            <div class="art-item">
                <img width="100%" height="100px" alt="Blog  Image">
                <h1> Article Title</h1>
            </div>
            <div class="art-item">
                <img width="100%" height="100px" alt="Blog  Image">
                <h1> Article Title</h1>
            </div>
            <div class="art-item">
                <img width="100%" height="100px" alt="Blog  Image">
                <h1> Article Title</h1>
            </div>
            <div class="art-item">
                <img width="100%" height="100px" alt="Blog  Image">
                <h1> Article Title</h1>
            </div>
        </div>
      
      </div>
      <div class="number-tabs">
        <label>1</label>
        <label>2</label>
        <label>3</label>
        <label>4</label>
        <label>5</label>
        <label>6</label>
    </div>
  </div>
  
  <div id="profile" class="tabcontent" hidden>
    <p>Update your Profile</p>

    <div id="reminder">
        <div class="other-rem">
            <button onclick="openrem()">set reminder</button>
            <button onclick="opennum()">get number of entries</button>
            <input type="number" value="50">
        </div>
            
        <form id="rem">
            <h1>Create a reminder</h1>
            <p>When</p>
            <input type="date">
            <p>Time</p>
            <select name="time" id="times">
                <option value="00:00">Midnight</option>
                <option value="1:00">1:00 A:M</option>
                <option value="2:00">2:00 A:M</option> 
                <option value="3:00">3:00 A:M</option> 
                <option value="4:00">4:00 A:M</option> 
                <option value="5:00">5:00 A:M</option> 
                <option value="6:00">6:00 A:M</option> 
                <option value="7:00">7:00 A:M</option> 
                <option value="8:00">8:00 A:M</option> 
                <option value="9:00">9:00 A:M</option> 
                <option value="10:00">10:00 A:M</option> 
                <option value="11:00">11:00 A:M</option> 
                <option value="12:00">12:00 A:M</option>
                <option value="13:00">13:00 P:M</option>
                <option value="14:00">14:00 P:M</option>
                <option value="15:00">15:00 P:M</option>
                <option value="16:00">16:00 P:M</option>
                <option value="17:00">17:00 P:M</option>
                <option value="18:00">18:00 P:M</option>
                <option value="19:00">19:00 P:M</option>
                <option value="20:00">20:00 P:M</option>
                <option value="21:00">21:00 P:M</option>
                <option value="22:00">22:00 P:M</option>
                <option value="23:00">23:00 P:M</option>
            </select>
            <p>Description</p>
            <textarea></textarea>
            <div class="button">
                <button>Cancel</button><button>Create</button>
            </div>
        
        </form>
        </div>
  </div>
  
  <div id="contact" class="tabcontent" hidden>
        <p>Contacts</p>
        
      <div class="message-item">
          <label>Full Name : Emmy</label>
          <label id="button1" value="Emmy@gmail.com" role="button" mailto:Emmy@gmail.com>Email Address : Emmy@gmail.com</label>
          <label>Phone Number : 0780786543</label><label>Physical Address : Kigali-Rwanda</label>
          <textarea>hkjdhgjshdgjsdghjkdh</textarea>
        </div>
        <div class="message-item">
            <label>Full Name : Ihirwe</label>
            <label id="button1" value="ihirwe@gmail.com" role="button" mailto:ihirwe@gmail.com>Email Address : ihirwe@gmail.com</label>
            <label>Phone Number : +250.786553442</label>
            <label>Physical Address : Muhanga</label>
            <textarea>hkjshgkhgsjkdghskjdghs</textarea>
        </div>
        <div class="message-item">
            <label>Full Name : Ishimwe Philladeliphie</label>
            <label id="button1" value="ishimwephilli@gmail.com" role="button" mailto:ishimwephilli@gmail.com>Email Address : ishimwephilli@gmail.com</label>
            <label>Phone Number : 07898675643</label>
            <label>Physical Address : Ruhango-Rwanda</label>
            <textarea>Hello ELysee , Umeze neza x? shn Twaraburanye gusa nishimiye ibyo ukoea then twahura.</textarea>
        </div>
        <div class="message-item">
            <label>Full Name : Jules</label>
            <label id="button1" value="jules@gmail.com" role="button" mailto:jules@gmail.com>Email Address : jules@gmail.com</label>
            <label>Phone Number : 078887866</label>
            <label>Physical Address : RUhengeri</label>
            <textarea>nkjgskjgnksdjgn</textarea>
        </div>
        <div class="message-item">
            <label>Full Name : NIshimwe</label>
            <label id="button1" value="nishimwelys@gmail.com" role="button" mailto:nishimwelys@gmail.com>Email Address : nishimwelys@gmail.com</label>
            <label>Phone Number : 0780781546</label>
            <label>Physical Address : Muhanga-Rwanda</label>
            <textarea>fkjhkshgksdjgh</textarea>
        </div>
        <div class="message-item">
            <label>Full Name : Nishimwe1</label>
            <label id="button1" value="668" role="button" mailto:668>Email Address : 668</label>
            <label>Phone Number : Nishimwe@gmail</label>
            <label>Physical Address : Kigali</label>
            <textarea>Message</textarea>
        </div>
        <div class="message-item">
            <label>Full Name : Niyitegeka Polly</label>
            <label id="button1" value="niyabra@gmail.com" role="button" mailto:niyabra@gmail.com>Email Address : niyabra@gmail.com</label>
            <label>Phone Number : 0788675432</label>
            <label>Physical Address : Huye-Rwanda</label>
            <textarea>jhkjhfdkgjhsdjgh</textarea>
        </div>
        <div class="message-item">
            <label>Full Name : Shema Manzi</label>
            <label id="button1" value="shema@gmail.com" role="button" mailto:shema@gmail.com>Email Address : shema@gmail.com</label>
            <label>Phone Number : +250.788765645</label>
            <label>Physical Address : Huye</label>
            <textarea>nkkdsnjksdgh</textarea>
        </div>
        <div class="number-tabs">
            <label>1</label>
            <label>2</label>
            <label>3</label>
            <label>4</label>
            <label>5</label>
            <label>6</label>
        </div>
  </div>
  
  <div id="portfolio" class="tabcontent" hidden>
    <p>Portfolio</p>
    <div class="content">
        <div class="port-update">
            <div class="image">
                <img id="pimageid" width="400px" height="200px">
                <input type="file" id="pinpimg" onchange="onpFileSelected(event)">
            </div>
            <div class="pid">
                <input id="ppotid" type="text" placeholder="Type Portfolio ID">
            </div>
            <div class="title">
                <input id="ptitle" type="text" placeholder="Type Project Title ">
            </div>
            <div class="exp">
                <input id="pexp" type="text" placeholder="Type More Explanation of your Portfolio">
            </div>
            <div class="link">
                <input id="plink" type="text" placeholder="Type Link of Your Portfolio">
            </div>
            <div>
                <button type="submit" id="psubmit">Save</button><button onclick="pclear()" type="reset">Reset</button>
                <button type="button" id="pselect">Search</button><button id="pupdate"  type="button">Update</button><button id="pdelete"  type="button">Delete</button>
            </div>
        </div>
        <div class="port-list">
            <div class="art-item">
                <img width="100%" height="100px" alt="portfolio  Image">
                <h1> Article Title</h1>
            </div>
            <div class="art-item">
                <img width="100%" height="100px" alt="Portfolio  Image">
                <h1> Article Title</h1>
            </div>
            <div class="art-item">
                <img width="100%" height="100px" alt="portfolio  Image">
                <h1> Article Title</h1>
            </div>
            <div class="art-item">
                <img width="100%" height="100px" alt="portfolio  Image">
                <h1> Article Title</h1>
            </div>
        </div>
    </div>
    <div class="number-tabs">
        <label>1</label>
        <label>2</label>
        <label>3</label>
        <label>4</label>
        <label>5</label>
        <label>6</label>
    </div>
  </div>

  <div id="other" class="tabcontent" hidden>
   <p> Other Options</p>
  </div>



    <footer>
        <div class="top-footer">
            <div class="address data">
                <div>
                    <h3>Address</h3>
                </div>
                <div class="item-footer"><button class="icon-btn"><i class="fas fa-map-marker-alt"></i></button><span> KIGALI-RWANDA</span></div>
                <div class="item-footer"><button class="icon-btn"><i class="fas fa-street-view"></i></button><span> KG 368 st 33</span></div>
            </div>
            <div class="call data">
                <h3>Call on </h3>
                <div class="item-footer"><button class="icon-btn"><i class="far fa-envelope"></i></button><span>+250780781546</span></div>
                <div class="item-footer"><button class="icon-btn"><i class="fas fa-phone"></i></button><span>nishimwelys@gmail.com</span></div>
            </div>
            <div class="available data">
                <h3>Available</h3>
                <div class="item-footer"><button class="icon-btn"><i class="fab fa-twitter"></i></button><span>+250780781546</span></div>
                <div class="item-footer"><button class="icon-btn"><i class="fab fa-facebook"></i></button><span>nishimwelys@gmail.com</span></div>
                <div class="item-footer"><button class="icon-btn"><i class="fab fa-whatsapp"></i></button><span>+250780781546</span></div>
            </div>
        </div>
        <div class="down-footer">
            <p>All Right Reserved © Nishimwe ELysee, 2020</p>
        </div>
    </footer>
</body>

</html>