#reminder {
    background-color: #022655;
}
#reminder form {
    display: none;
    /* display: flex; */
    flex-direction: column;
    width: 400px;
    border:1px solid #ecf0f1;
    background-color: darkblue;
    padding: 5%;
    color: white;

}
#rem h1 {
    text-align: center;
}


#rem >select::-ms-expand {
  display: none;
}
#rem >select {
  width: 100%;
  outline: none;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1356e6;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #1356e6 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;  
}
/* Removes the clear button from date inputs */
#rem >input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
#rem >input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
#rem >input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
#rem >input[type="date"],textarea,input[type="number"] {
      width: 100%;
    outline: none;
      display: block;
      border: none;
      padding: 10px 0;
      border-bottom: solid 1px #1356e6;
      transition: all 0.3s cubic-bezier(.64,.09,.08,1);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #1356e6 4%);
      background-position: -200px 0;
      background-size: 200px 100%;
      background-repeat: no-repeat;  
}

/* A few custom styles for date inputs */
#rem >input[type="number"] {
    width: 100%;
  outline: none;
    display: block;
    border: none;
    padding: 10px;
    border-bottom: solid 1px #1356e6;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #1356e6 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;  
}

#rem >input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

button {
    background-color: rgba(57, 57, 221, 0.986); 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }

  .other-rem {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .other-rem >input {
      display: none;
  }